.outerContainer {
    border: 2px solid black;
    height: 80vh;
    width: 100%;
    display: flex;
}

.innerContainer {
    border: 2px solid black;
    height: 400px;
    width: 50%;
    margin: 20px;
    overflow: auto;
}

.buttons-bar{
    display: flex;
    height: 5%;
    margin-top: 35%;
    margin-left: 20px;
    position: absolute;

}
